body {
  margin: 0;
  color: #7149c6;
  background-color: #fee0c0;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-display {
  background-color: #e2c799;
  display: flex;
  justify-content: space-around;
}
.nav-bar {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.2rem;
}
.nav-bar a {
  text-decoration: none;
  font-family: serif;
  color: #7149c6;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
